<% if false %>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Overview</a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link disabled" aria-current="page" href="#">Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">About the seller</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Order details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href= <%= "/listing/#{@listing.id}/reviews/#{@review.id}" %>>Review</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="background-color: #F1D6B8">
<% end %>

<div class="container">
  <div class="row">
    <%# breadcrumbs to be added later if got time lol %>
    <div class="col-lg-6 col-md-12 mx-auto p-3">
      <h2 class="fw-bold"><%= @listing.title %></h2>
      <% if @listing.photo.key.nil? %>
        <img src="https://images.pexels.com/photos/262978/pexels-photo-262978.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" height="300" width="450">
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12 mx-auto p-3">
      <p class="fw-bold"><%= link_to "Home", root_path, class:"text-dark" %> <i class="fa-solid fa-chevron-right opacity-75"></i> <%= link_to @listing.title, listing_path(@listing) ,class:"text-dark"%></p>
      <h2 class="fw-bold text-warning">Order's visual</h2>
      <%= cl_image_tag @listing.photo.key, height: 300, width: 530, crop: :fill %>
      <hr>
      <h2 class="fw-bold text-warning">Order's details</h2>
      <p><strong>About This Gig: <%= @listing.description %></strong>
      <br>I deliver professionnal wav audio files for corporate message video narration training IVR Phonere-learning audio guides commercials TV & radio</p>
      <hr>
      <h4 class="text-dark">Also recommendations</h4>
      <div class="card">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
      <hr>
    </div>

    <div class="col-lg-6 col-md-12 mx-auto p-3">
      <% @listing.prices.each do |price| %>
      <div class="card text-center w-80 position-fixed">
        <div class="card-header"><%= price.tier %> package</div>
          <div class="card-body">
            <h5 class="card-title"><%= price.description %></h5>
            <p class="card-text">$<%= price.amount %></p>
            <%= simple_form_for [@listing, @project] do |f| %>
              <%= f.button :submit, "Buy now", class: "btn btn-warning text-white" %>
            <% end %>
          </div>
        <div class="card-footer">Contact Seller <i class="fa-sharp fa-solid fa-message"></i> </div>
      <% end %>
      </div>
    </div>
  </div>

  <%= render "reviews/show" %>
</div>
</div>
