
<div class="banner">
  <div class="bg-image vh-100 mx-0 d-flex align-items-center opacity-75"
       style="background-color: #EFD3E4;
              background-image: url(https://images.pexels.com/photos/13687617/pexels-photo-13687617.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
              background-position: center;
              background-size: cover;
              background-attachment: fixed;
        ">
    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-12 mx-auto text-center">
          <% @categories.first(6).each do |category| %>
            <a type="button" class="btn btn-outline-secondary fw-bold text-white" href= <%= "/categories/#{category.id}" %> data-mdb-ripple-color="success"><%= category.name.first(7) %></a>
          <% end %>
        </div>
        <p class="col-lg-12 fs-4 text-white text-center">
        Find the perfect <span class="text-success fw-bolder">freelance</span> services for your business
        </p>
        <%= simple_form_for :search, url: root_path, method: :get do |f| %>
          <div class="col-lg-6 search-form-control form-group mx-auto">
            <input class="form-control string required" type="text" name="search[query]" id="search_query" />
            <button name="button" type="submit" class="btn btn-flat">
              <i class="fas fa-search"></i> Search
            </button>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%# introduce section %>
  <div class="container">
    <div class="row p-5">
      <div class="col-md-8 mx-auto text-center">
        <h3 class="text-warning fw-bold">Market Place</h3>
        <h1>Our roles</h1>
        <p class="fst-italic">Are you asking for a raise? Do your research and know your market value.
        Having an informed sense of your worth, as dictated by the broader marketplace,
        will give you greater confidence in requesting increased compensation.
        It's tough to dispute someone who can back up her assertions with facts and a smart,
        articulate argument</p>
      </div>
      <div class="row g-3">
            <% @categories.each do |category| %>
        <div class="col-lg-4">
          <div class="category card-effect">
            <div class="iconbox">
              <i class="fa-solid fa-layer-group"></i>
            </div>
             <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/436413/pexels-photo-436413.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)">
             <a class="text-white text-decoration-none" href= <%= category_path(category) %>><%= category.name %></a>
             </div>
            <p>You change your business plan to anticipate and adapt to changes in the marketplace.</p>
          </div>
        </div>
            <% end %>
      </div>
    </div>
  </div>


<button
        type="button"
        class="btn btn-danger btn-floating btn-lg"
        id="btn-back-to-top"
        >
  <i class="fas fa-arrow-up"></i>
</button>

<section class="text-center">
  <div class="row">
    <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
      <i class="fas fa-cubes fa-3x text-warning mb-4"></i>
      <h5 class="text-warning fw-bold mb-3">5000+</h5>
      <h6 class="fw-normal mb-0">Jobs</h6>
      <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
    </div>

    <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
      <i class="fas fa-layer-group fa-3x text-warning mb-4"></i>
      <h5 class="text-warning fw-bold mb-3">3000+</h5>
      <h6 class="fw-normal mb-0">Sellers</h6>
      <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
    </div>

    <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
      <i class="fas fa-image fa-3x text-warning mb-4"></i>
      <h5 class="text-warning fw-bold mb-3">100+</h5>
      <h6 class="fw-normal mb-0">Cities</h6>
      <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
    </div>

    <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
      <i class="fas fa-plug fa-3x text-warning mb-4"></i>
      <h5 class="text-warning fw-bold mb-3">28</h5>
      <h6 class="fw-normal mb-0">Country</h6>
    </div>
  </div>
</section>
