<div class="container">
  <div class="row gy-2">
    <div clas="col-lg-8">
      <h1 class="mx-auto text-center"><%= @category.name %></h1>
      <h2 class="mx-auto text-center"><%= @category.description %></h2>
    </div>
      <hr>

    <div class="row row-cols-1 row-cols-md-3 g-4 mx-auto">
      <% @category.listings.each do |listing| %>
      <%  listing.id == @price.listing_id %>
      <div class="col">
        <div class="card-group">
          <div class="card">
            <%= cl_image_tag listing.photo.key, height: 300, width: 406, crop: :fill %>
            <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <p class="card-text">
            <%= listing.description %>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
          <p class="card-product-pricing">From $<%= @price.amount %></p>
        </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<hr>
<div class="container">
  <h3 class="mx-auto text-center">Other recommendations</h3>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
