<div class="row review-form-wrapper">
    <div class="col-lg-12 review-header">
      <h3>Reviews</h3>
      <% if @listing.reviews.empty? %>
        <small><em class="text-muted">Be the first one to review this list</em></small><br>
      <% end %>
      <% @listing.reviews.each do |review| %>
        <div>
          <% review.rating.times do %>
            <i class="fa-solid fa-star text-warning"></i>
          <% end %>
          <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
          <p class="mb-0"><%= review.comment %></p>
        <hr class="hr w-50" />
        </div>
      <% end %>
    </div>

    <div class="col-lg-12 review-form">
      <div class="bg-white rounded w-50">
        <h5><b>Add your review<b></h5>
        <%= simple_form_for [@listing, @review] do |f| %>
          <%= f.input :comment, placeholder: "Add your review here..." %>
          <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { data: { controller: "star-rating" } } %>
          <%= f.submit class:"btn btn-primary review-btn" %>
        <% end %>
      </div>
    </div>
  </div>
