<div class="container">
  <h1>This is listings/new.html.erb</h1>
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-4 shadow">
      <h3>Create a new listing</h3>
        <%= simple_form_for [@listing] do |f| %>
        <%= f.input :title, placeholder: 'UX Designer' %>
        <%= f.input :description, placeholder: '10 years experience in Marvel' %>
        <%= f.fields_for :categories do |category| %>
        <%= f.collection_select(:category_ids, Category.all, :id, :name, {}, {multiple: true} ) %>
        <% end %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: 'btn btn-flat' %>
        <% end %>
        <a href="/">Back</a>
      </div>
    </div>
  </div>
</div>


<select type="text" id="clear-button-single" autocomplete="off">
	<option value="">Description</option>
	<option selected>marketing</option>
	<option>animation</option>
  <option>audio</option>
  <option>business</option>
  <option>lifestyle</option>
  <option>writing</option>
</select>

<form action="/action_page.php">
  <label for="description">Description:</label>
  <select name="description" id="description" multiple>
    <option value="marketing">marketing</option>
    <option value="animation">animation</option>
    <option value="audio">audio</option>
    <option value="business">business</option>
    <option value="business">lifestyle</option>
    <option value="business">writing</option>
  </select>
  <br><br>
</form>

 <div class = "results-info">
        <div class = "numbers of results">
          <p>
            <%= @category.listings.count %> services available
          </p>
        </div>
      </div>
